
extends layout
//- this logic should be moved to a view at some point

block prepend title
  title= 'Semua Artikel - '+ locals.name
  meta(property="og:title", content='Semua Artikel - '+ locals.name)
  meta(property="twitter:title", content='Semua Artikel - '+ locals.name)

block prepend description
  meta(name="description", content='Semua Artikel - '+ locals.name) 
  meta(property="og:description", content='Semua Artikel - '+ locals.name)
  meta(property="twitter:description", content='Semua Artikel - '+ locals.name)

block content
  - var lineHeight = 2.2;
  - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getFullYear();
  - }).value();
  - for (var archive in archives) {
  -   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
  - }
  - var month_names = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember']

  section.archive
    h2 
      i.fa.fa-star
      | #{ '  Semua Artikel  ' }
      i.fa.fa-star

    - var yearsK = _.chain(archives).keys().reverse().value();
    each yearK in yearsK

      - var months = archives[yearK];

      div.archive__year
        div.archive__year-label
          | #{ 'Tahun ' }
          = yearK
        
        - var monthsK = _.chain(months).keys().reverse().value();
        each monthK in monthsK

          div.archive__month
            div.archive__month-label
              i.fa.fa-chevron-right
              | #{ ' Bulan ' }
              = month_names[monthK]

            ul
              each item in months[monthK]

                li.archive__article
                  i.fa.fa-angle-double-right
                  | #{ ' ' }
                  a(href=locals.url+item.url)= item.title
                  | #{ ' dipublikasikan ' }
                  span
                    =moment.utc(item.date).format('DD MMM YYYY')
