
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  title= page.title
  meta(property="og:title", content=page.title)
  meta(property="twitter:title", content=page.title)

block prepend description
  meta(name="description", content=page.title +' - '+ locals.name) 
  meta(property="og:description", content=page.title +' - '+ locals.name)
  meta(property="twitter:description", content=page.title +' - '+ locals.name)

block header
  div.breadcrumb
    a(href=locals.url)
      i.fa.fa-home
    | #{ '  ' }
    i.fa.fa-angle-double-right
    | #{ '  ' }    
    - var tagsBreadcrumb = env.helpers.getTagsFromArticle(page)
      each tag in tagsBreadcrumb
        if env.helpers.getTagHome(tag) !== undefined
          a(href=locals.url+env.helpers.getTagHome(tag).url)= tag
    | #{ '  ' }
    i.fa.fa-angle-double-right
    | #{ '  ' }
    a(href='#')=page.title
  include author
  h1= page.title
  p.author
    i.fa.fa-user-o
    | #{ ' Ditulis oleh ' }
    mixin author(page.metadata.author)
  p.date-publish
    i.fa.fa-clock-o
    | #{ ' Dipublikasikan ' }
    = moment.utc(page.date).format('DD MMM YYYY')

block content
  article.article
    section.article__content!= typogr(page.html).typogrify()
    
  div.article__tags   
    span
      i.fa.fa-tags  
    | #{ ' Tags : ' } 
    - var tags = env.helpers.getTagsFromArticle(page)
      each tag in tags
        if env.helpers.getTagHome(tag) !== undefined
          a(href=locals.url+env.helpers.getTagHome(tag).url)= tag

block prepend footer
  div.footer__nav
    a(href=locals.url) &laquo; Kembali ke Halaman Utama

block prepend footer_script
  #disqus_thread
  script.
      var disqus_config = function () {
        this.page.url = "#{locals.url}" + "#{page.url}";
        this.page.identifier = "#{locals.url}" + "#{page.url}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
  noscript
      | Please enable JavaScript to view the 
      a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.

